header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo img {
    height: 50px;
    color: #010403
  }
  
  .logo{
    height: 50px;
    color: #010403
  }

  .social img {
    height: 30px;
    margin-left: 10px;
  }
  
